# -*- coding: utf-8 -*-
# region header
# Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

# License
# -------

# This library written by Torben Sickert stand under a creative commons naming
# 3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
# endregion
[Unit]
Description=On premise polyfill service.
After=docker.service
BindsTo=docker.service
Conflicts=shutdown.target reboot.target halt.target

[Service]
# Without any proxy:
#ExecStart=/usr/bin/env docker run --env POLYFILL_PORT=80 --interactive --name polyfill -p 0.0.0.0:80:80 --rm ghcr.io/thaibault/on-premise-polyfill.io

# With proxy
ExecStartPre=-/usr/bin/env docker network create proxy
ExecStart=/usr/bin/env docker run --env POLYFILL_PORT=80 --expose 80 --interactive --name polyfill --network proxy --rm ghcr.io/thaibault/on-premise-polyfill.io

ExecStop=/usr/bin/env docker stop polyfill

NotifyAccess=all
# NOTE: Will be handled by docker.
Restart=always
RestartSec=10

User=root
WorkingDirectory=/root/application

[Install]
WantedBy=multi-user.target
# region vim modline
# vim: set tabstop=4 shiftwidth=4 expandtab:
# vim: foldmethod=marker foldmarker=region,endregion:
# endregion
